  <div id="Days" class="col-md-3">
    <div id="planned_days" class="btn-group">
      <button type="button" class="btn btn-default">Day 1</button>
    </div>
    <div class="btn-group">
      <button id="addDay" type="button" class="btn btn-primary">+Add Day</button>
    </div>

  </div>

  <div id="Hotels" class="col-md-3">
    <h2 style='margin:0;'>Hotels</h2>
    <select class="form-control item-select" id="hotels">
      <option>Choose a Hotel</option>
    </select>
    <button id="addHotel" type="button" class="btn btn-primary">Add</button>
  </div>
  <div id="ThingsToDo" class="col-md-3">
    <h2 style='margin:0;'>Things to Do</h2>
    <select class="form-control item-select" id="thingstodo">
      <option>Choose a Thing To Do</option>
    </select>
    <button id="addThingToDo" type="button" class="btn btn-primary">Add</button>
  </div>
  <div id="Restaurants" class="col-md-3">
    <h2 style='margin:0;'>Restaurants</h2>
    <select class="form-control item-select" id="restaurants">
      <option>Choose a Restaurant</option>
    </select>
    <button id="addRestaurant" type="button" class="btn btn-primary">Add</button>
  </div>

<br>

<div id="plans" class="col-md-3">
  <h1>Plan for Day 1</h1>
  <h2>Hotel</h2>
  <ul id="planned_hotels"></ul>
  <h2>Things to Do</h2>
  <ul id="planned_things_to_do"></ul>
  <h2>Restaurants</h2>
  <ul id="planned_restaurants"></ul>
</div>

<div id="map-canvas" class="col-md-9">
</div>

<script>



var all_visits = <%= get_all_visits_json %>;

var select = document.getElementById("hotels");
var all_hotels = <%= get_hotels %>;
for(var i = 0; i < all_hotels.length; i++) {
  var hotel = all_hotels[i];
  var element = document.createElement("option");
  element.textContent = hotel.name;
  element.value = i;
  select.appendChild(element);
}

var select = document.getElementById("thingstodo");
var all_thingstodo = <%= get_thingstodo %>;
for(var i = 0; i < all_thingstodo.length; i++) {
  var thingtodo = all_thingstodo[i];
  var element = document.createElement("option");
  element.textContent = thingtodo.name;
  element.value = i;
  select.appendChild(element);
}

var select = document.getElementById("restaurants");
var all_restaurants = <%= get_restaurants %>;
for(var i = 0; i < all_restaurants.length; i++) {
  var restaurant = all_restaurants[i];
  var element = document.createElement("option");
  element.textContent = restaurant.name;
  element.value = i;
  select.appendChild(element);
}

$("#addHotel").click(function () {
  var count = $("#planned_hotels").children().length;
  if (count == 1) {
    alert("You can only sleep in ONE hotel.  Please remove your hotel, then add a new one.");
  } else {
    var hotelIndex = $('select#hotels').val();
    plannedDays[1].hotel = hotelIndex;
//    alert(plannedDays[1][hotel]);
    $('ul#planned_hotels').append(
        "<li class='makeRemoveAppear' data-id="+hotelIndex+">" +all_hotels[hotelIndex].name +
        ' <a href="#" class="map">Show on Map</a> <a href="#" class="removeItem">Remove</a></li>');
    $(".removeItem").click(function () {
      $(this).parent().remove();
      plannedDays[1].hotel = "";
//    alert(plannedDays[1][hotel]);
    // $(".makeRemoveAppear").hover(function () {
    //   $(this).find(".removeHotel").
    // })
    });
    $('#planned_hotels a.map').click(function(e){
      e.preventDefault();
      // var index = parseInt( $(this).parent().data("id"));
      var index =  $(this).parent().data("id");
      var site = all_hotels[index];
      var locLatLng = new google.maps.LatLng(site.lat, site.lon);
      move_marker(locLatLng, site.name);
      if(!map.getBounds().contains(locLatLng)){
        map.panTo(locLatLng);
      }
    });
  }
});

$("#addThingToDo").click(function () {
  var thingIndex = $('select#thingstodo').val();
  $('ul#planned_things_to_do').append(
    '<li class="makeRemoveAppear" data-id=' + thingIndex + '>' +
    all_thingstodo[thingIndex].name +
    ' <a href="#" class="map">Show on Map</a> <a href="#" class="removeItem">Remove</a></li>');
  $(".removeItem").click(function () {
    $(this).parent().remove();
  });
  $('#planned_things_to_do a.map').click(function(e){
      e.preventDefault();
      // var index = parseInt( $(this).parent().data("id"));
      var index =  $(this).parent().data("id");
      var site = all_thingstodo[index];
      var locLatLng = new google.maps.LatLng(site.lat, site.lon);
      move_marker(locLatLng, site.name);
      if(!map.getBounds().contains(locLatLng)){
        map.panTo(locLatLng);
      }
    });
});

$("#addRestaurant").click(function () {
  var count = $("#planned_restaurants").children().length;
  if (count == 3) {
    alert("You can only eat in THREE restaurants.  Please remove a restaurant, then add a new one.");
  } else {
    var restaurantIndex = $('select#restaurants').val();
    $('ul#planned_restaurants').append(
      '<li class="makeRemoveAppear" data-id="'+restaurantIndex+ '">' +
      all_restaurants[restaurantIndex].name +
      ' <a href="#" class="map">Show on Map</a> <a href="#" class="removeItem">Remove</a></li>');
    $(".removeItem").click(function () {
      $(this).parent().remove();
    });
    $('#planned_restaurants a.map').click(function(e){
      e.preventDefault();
      // var index = parseInt( $(this).parent().data("id"));
      var index =  $(this).parent().data("id");
      var restaurant = all_restaurants[index];
      var locLatLng = new google.maps.LatLng(restaurant.lat, restaurant.lon);
      move_marker(locLatLng, restaurant.name);
      if(!map.getBounds().contains(locLatLng)){
        map.panTo(locLatLng);
      }
    });
  }
});
var currentDay = 1;
$("#addDay").click(function () {
  var count = $("#planned_days").children().length;
  var day = count + 1;
  if (count == 7) {
    alert("You can only have SEVEN days.");
  } else {
    $('#planned_days').append('<button type="button" class="btn btn-default">Day ' + day + '</button>');
//    $(".removeRestaurant").click(function () {
//    $(this).parent().remove();
//    });
  }
});

plannedDays = []
for (var i = 1; i <= 7; i++) {
  plannedDays[i] = {};
  plannedDays[i].hotel = "";
  plannedDays[i].thingsToDo = [];
  plannedDays[i].restaurants = [];
}

</script>
